@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/utilities/functions";

$box-shadow : 20px 5px 10px rgba($black, 0.6), 0 5px 10px 1px rgba($black, 0.1)

@import '../../node_modules/bulma/bulma'

img
  &.is-rounded
    border-radius: 60%

.control-icon
  padding-right: 12px

.has-recent-grid
  padding-bottom: 29px
  a
    &:hover
      color : $grey-light !important
