{{define "main"}}
{{ partial "nav" . }}
<div class="base-container container">
  <section>
    <div
      class="grid lg:grid-cols-2 xl:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4"
    >
      <div>
        <p class="font-bold text-accent text-center capitalize">
          whoami
        </p>
        <blockquote>
          Lanre Adelowo, a software developer based out of Lagos,
          Nigeria. Part time clown, part time cyclist when I am not coding.
        </blockquote>

        <p class="font-bold text-accent text-center capitalize">
          work
        </p>
        <blockquote>
		Currently building <a href="https://fluidcoins.com"> Fluidcoins
		</a>. I used to ship code at <a
			href="https://tyk.io"> Tyk Technologies.</a> where I
		built out a PaaS ( the new Tyk Cloud ) and contributed to the development of
		one of the best opensource API gateway on planet earth.
        </blockquote>
        <blockquote>
          I do have a bit of projects in the open. Most notably, I am a core
          maintainer of
          <a href="https://github.com/go-gitea/gitea" target="_blank">
            Gitea.
          </a>
        </blockquote>


        <p class="font-bold text-accent text-center capitalize">
          Technologies
        </p>
        <blockquote>
          These days my entire life revolves around Go. I
          also wrriten a fair bit of PHP and Ruby in the past.
	</blockquote>

        <blockquote>
          I might have written an awful ton of Javascript in a previous life.
	  Okay to be fair, I still write a lot of Javascript - mostly React and
	  React Native. Very little Typescript sadly enough :)
        </blockquote>

	<blockquote>
		I use Docker to run everything in between local development and
		production. If it is worth running in a Kubernetes cluster, I'd
		put it in one.
	</blockquote>

      </div>

      <div>
        <p class="font-bold text-accent text-center capitalize">
          A real human runs this site
        </p>
        <blockquote>
          <img
            src="/img/lanre-white-trad.jpg"
            alt="What I look like"
	    class="rounded-full"
          />
        </blockquote>

        <p class="font-bold text-accent text-center capitalize">
          Github contribution graph
        </p>
        <blockquote>
          <img
            src="https://ghchart.rshah.org/adelowo"
            alt="Lanre Adelowo's Github chart"
          />
        </blockquote>

        <p class="font-bold text-accent text-center capitalize">
          How much time do I spend coding?
        </p>
	<blockquote>
		<figure><embed src="https://wakatime.com/share/@horus/97d6e689-df7a-47aa-a961-4b7f179149aa.svg"></embed></figure>
	</blockquote>

        <p class="font-bold text-accent text-center capitalize">
          What languages do I spend most of my time writing?
        </p>
	<blockquote>
		<figure><embed src="https://wakatime.com/share/@horus/922b3b2a-087b-4e90-9654-b3e6cb30454a.svg"></embed></figure>
	</blockquote>
      </div>
    </div>
  </section>
</div>
{{ end }}
