{{define "main"}}
{{ partial "nav" . }}

<div class="base-container container">
  <div id="hero-text">
    <p class="font-black antialiased text-4xl">
      The Newsletter
    </p>
    <p class="font-black antialiased text-4xl">
      Zero spam. My articles right in your inbox.
    </p>

    <p class="pt-6">
      Twice a month, I send out a newsletter of my latest articles to your
      inbox. If you don't want to miss an article, subscribing to my newsletter
      will get the latest content(s) to your inbox. My articles only. Nothing
      else
    </p>

    <!-- <p> -->
    <!--   A blog on some of the most interesting things I learn and/or unlearn. -->
    <!-- </p> -->
  </div>
</div>

{{ end }}
