{{define "main"}}
{{ partial "nav" . }}
<div class="base-container container">
  <div id="hero-text">
    <p class="font-black antialiased text-4xl">Stuff I use daily</p>
    <p class="font-black antialiased text-4xl">
      Tooling, SaaS products, editors. All the good stuff.
    </p>

    <p class="pt-6">
      From terminal to editors to hardware to headset to remote work setup and
      every other thing in between
    </p>
  </div>
</div>

<div class="base-container container">
  <section>
    <div class="grid">
      <div class="text-left">
        <ol class="list-disc list-inside">
          <li>2021 Macbook Pro M1 Pro Max</li>
          <li>2X 32" LG Monitors.</li>
          <li>Logitech MX Master 3</li>
          <li>Logitech MX Keys for Mac</li>
          <li>Standing desk</li>
          <li>Airpods Max</li>
          <li>Blue Yeti Microphone</li>
          <li>
            NextDNS ( can't live without this. Affiliate link is
            <a href="https://nextdns.io/?from=ha4evk4b"
              >https://nextdns.io/?from=ha4evk4b </a
            >:)
          </li>
          <li>Homepod Mini</li>
          <li>Alexa Echo Dot ( 4th gen )</li>
          <li>Neovim</li>
          <li>Notion</li>
          <li>iTerm2 + Zsh + Oh my Zsh</li>
          <li>Raycast - Better than Spotlight, better than Alfred.</li>
          <li>Cron calendar app</li>
          <li>Spotify</li>
          <li>Rocket - for Emojis :)</li>
          <li>Sequel Pro</li>
          <li>Studio 3T</li>
          <li>
            Favorite fonts right now are Iosevka and Hack ( both have been
            patched by Nerd Fonts )
          </li>
        </ol>
      </div>
    </div>
  </section>
</div>

{{ end }}
