{{define "main"}}
{{ partial "nav" . }}
<div class="base-container container">
  <div id="hero-text">
    <p class="font-black antialiased text-4xl">Stuff I use daily</p>
    <p class="font-black antialiased text-4xl">
      Tooling, SaaS products, editors. That kind of stuff.
    </p>

    <p class="pt-6">
      From terminal to editors to hardware to headset to remote work setup and
      every other thing in between
    </p>
  </div>
</div>

<div class="base-container container">
  <section>
    <div class="grid">
      <p class="font-black antialiased text-4xl"></p>
    </div>
  </section>
</div>

{{ end }}
