<footer>

    {% if page.title %}

    <script src="/js/app.js"></script>

    <div class="text-center">
        <p class="copyright">&copy; {{ site.time | date: '%Y' }} <a
                href="{{ site.url }}">{{ site.author }}</a>. All
            contents are available under the <strong>Creative Commons
                Attribution 3.0 License</strong></p>
    </div>

    {% else %}
    <script src="/js/jquery.js"></script>
    <script src="/css/bootstrap/js/bootstrap.js"></script>
    {% endif %}

</footer>