<form action="" method="POST">


    <label> Name : </label>

    <div class="form-group">
        <input type="text" name="clientName" placeholder="Adelowo Lanre"
               class="form-control"/>
    </div>

    <label>
        Email Address :
    </label>

    <div class="form-group">
        <input type="text" name="clientEmail"
               placeholder="me@adelowolanre.com"
               class="form-control"/>
    </div>


    <label>
        Phone Number (<span class="notification"> Optional </span>) :
    </label>

    <div class="form-group">
        <input type="text" name="clientPhone"
               placeholder="+2348137871320"
               class="form-control"/>
    </div>

    <label>
        Message :
    </label>

    <div class="form-group">
        <textarea rows="5" class="form-control"
                  placeholder="Your Message"></textarea>
    </div>


    <div class="text-center">
        <button type="submit" class="button">
            Send Message
        </button>
    </div>

</form>

<!-- todo : Implement an online form submitting service -->