<form action="https://getsimpleform.com/messages?form_api_token=cd9176c2a55ead8885617782aa07432a" method="POST">


    <label> Name : </label>

    <div class="form-group">
        <input type="text" name="clientName" placeholder="Lanre Adelowo"
               class="form-control"/>
    </div>

    <label>
        Email Address :
    </label>

    <div class="form-group">
        <input type="text" name="clientEmail"
               placeholder="me@lanreadelowo.com"
               class="form-control"/>
    </div>


    <label>
        Phone Number (<span class="notification"> Optional </span>) :
    </label>

    <div class="form-group">
        <input type="text" name="clientPhone"
               placeholder="+2348137871320"
               class="form-control"/>
    </div>

    <label>
        Message :
    </label>

    <div class="form-group">
        <textarea rows="5" class="form-control"
                  placeholder="Tell me something. Prove you aren't a bot" name="message"></textarea>
    </div>


    <div class="text-center">
        <button type="submit" class="button">
            Send Message
        </button>
    </div>

</form>

