<section class="section">
<div class="container is-fluid">
  <div class="level is-pitch-word">
     <div class="level-item">
       <h1 class="title">Most recent posts</h1>
     </div>
  </div>

  <div class="columns has-recent-grid">
  <div class="tile is-ancestor">
  {% for post in site.posts limit:3 offset:0 %}
  <div class="tile is-parent is-4">
    <article class="tile is-child box">
      <p class="title">
        <a class="link has-text-grey-darker" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
      </p>
      <div class="level has-text-grey-light">
	<div class="level-left">
	  <div class="level-item">
	    <time itemprop="datePublished" datetime="{{ page.date }}">{{ post.date | date_to_string }}</time>
	  </div>
	</div>

	{% if post.tags | size >= 1 %}
	<div class="level-right">
	  <div class="level-item">
	    <div class="tags">

              {% for tag in post.tags %}
	      <span class="has-text-weight-bold is-rounded tag is-tomato">{{ tag }}</span>
              {% endfor %}
	    </div>
	  </div>
	</div>
	{% endif %}
      </div>
      <div class="content">
        <p>
	   {{ post.content | truncatewords: 50 }}
	</p>
      </div>
    </article>
  </div>
  {% endfor %}
  </div>
  </div>


  <div class="columns has-recent-grid">
  <div class="tile is-ancestor">
  {% for post in site.posts limit:3 offset:3 %}
  <div class="tile is-parent is-4">
    <article class="tile is-child box">
      <p class="title">
        <a class="link has-text-grey-darker" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
      </p>
      <div class="level has-text-grey-light">
	<div class="level-left">
	  <div class="level-item">
	    <time itemprop="datePublished" datetime="{{ page.date }}">{{ post.date | date_to_string }}</time>
	  </div>
	</div>

	{% if post.tags | size >= 1 %}
	<div class="level-right">
	  <div class="level-item">
	    <div class="tags">

              {% for tag in post.tags %}
		<span class="is-tomato is-rounded has-text-weight-bold tag">{{ tag }}</span>
              {% endfor %}
	    </div>
	  </div>
	</div>
	{% endif %}
      </div>
      <div class="content">
        <p>
	   {{ post.content | truncatewords: 50 }}
	</p>
      </div>
    </article>
  </div>
  {% endfor %}
  </div>
  </div>


  <div class="columns has-recent-grid">
  <div class="tile is-ancestor">
  {% for post in site.posts limit:3 offset:6 %}
  <div class="tile is-parent is-4">
    <article class="tile is-child box">
      <p class="title">
        <a class="link has-text-grey-darker" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
      </p>
      <div class="level has-text-grey-light">
	<div class="level-left">
	  <div class="level-item">
	    <time itemprop="datePublished" datetime="{{ page.date }}">{{ post.date | date_to_string }}</time>
	  </div>
	</div>

	{% if post.tags | size >= 1 %}
	<div class="level-right">
	  <div class="level-item">
	    <div class="tags">

              {% for tag in post.tags %}
		<span class="is-rounded tag is-tomato has-text-weight-bold">{{ tag }}</span>
              {% endfor %}
	    </div>
	  </div>
	</div>
	{% endif %}
      </div>
      <div class="content">
        <p>
	   {{ post.content | truncatewords: 50 }}
	</p>
      </div>
    </article>
  </div>
  {% endfor %}
  </div>
  </div>


  <div class="columns has-recent-grid">
  <div class="tile is-ancestor">
  {% for post in site.posts limit:3 offset:9 %}
  <div class="tile is-parent is-4">
    <article class="tile is-child box">
      <p class="title">
        <a class="link has-text-grey-darker" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>
      </p>
      <div class="level has-text-grey-light">
	<div class="level-left">
	  <div class="level-item">
	    <time itemprop="datePublished" datetime="{{ page.date }}">{{ post.date | date_to_string }}</time>
	  </div>
	</div>

	{% if post.tags | size >= 1 %}
	<div class="level-right">
	  <div class="level-item">
	    <div class="tags">

              {% for tag in post.tags %}
		<span class="is-rounded tag is-tomato has-text-weight-bold">{{ tag }}</span>
              {% endfor %}
	    </div>
	  </div>
	</div>
	{% endif %}
      </div>
      <div class="content">
        <p>
	   {{ post.content | truncatewords: 50 }}
	</p>
      </div>
    </article>
  </div>
  {% endfor %}
  </div>
  </div>

  <div class="level">
    <div class="level-item">
      <a class="button is-large is-danger has-text-weight-bold is-outlined
	      is-hovered" href="/blog">
	      All posts
      </a>
    </div>
  </div>

</div>

</section>
