<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Social Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{site.twitter_username}}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% if page.image %}
  <meta property="twitter:image:src" content="{{ site.url }}{{page.image }}">
  {% else %}
  <meta property="twitter:image:src" content="{{ "/assets/img/profile.jpg" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

  <!-- Social Facebook/Open Graph -->
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{page.image }}">
  {% else %}
  <meta property="og:image" content="{{ "/assets/img/blog-image.png" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- Social Google+/Schema.org  -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="{{ "/assets/img/profile.jpg" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/icons/favicon.ico" type="image/x-icon" />

  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon-152x152.png" />

  <!-- Windows 8 Tile Icons -->
  <meta name="application-name" content="{{site.username}}'s Blog">
  <meta name="msapplication-TileColor" content="#5d4d7a">
  <meta name="msapplication-square70x70logo" content="smalltile.png" />
  <meta name="msapplication-square150x150logo" content="mediumtile.png" />
  <meta name="msapplication-wide310x150logo" content="widetile.png" />
  <meta name="msapplication-square310x310logo" content="largetile.png" />

  <!-- Android Lolipop Theme Color -->
  <meta name="theme-color" content="#5d4d7a">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>

<nav class="navbar is-transparent is-fixed-bottom is-warning" id="navbarFixBottom">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/img/profile.jpg" alt="Lanre Adelowo" class="is-rounded" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  {% include svg-icons.html %}
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class=" navbar-item has-text-weight-bold is-uppercase" href="/">
        Home
      </a>

      <a class="navbar-item has-text-weight-bold is-uppercase" href="/blog">
        Blog
      </a>

      <a class="navbar-item has-text-weight-bold is-uppercase" href="/about">
        About me
      </a>

      <a class="navbar-item has-text-weight-bold is-uppercase" href="/gear">
        Gear
      </a>
    <div class="tags has-addons">
      <span class="tag is-dark">Hire</span>
      <span class="tag is-success">me now</span>
    </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control control-icon">
            <a aria-label="Github" target="_blank" href="https://github.com/{{site.github_username}}"
              data-social-network="Github" data-social-target="https://github.com/{{site.github_username}}">
              <svg class="icon icon-github-alt">
                <use xlink:href="#icon-github-alt"></use>
              </svg>
            </a>
          </p>

          <p class="control control-icon">
            <a aria-label="Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"
              data-social-network="Twitter" data-social-target="https://twitter.com/{{site.twitter_username}}">
              <svg class="icon icon-twitter">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
          </p>

          <p class="control control-icon">
            <a aria-label="RSS feed" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
              <svg class="icon icon-rss">
                <use xlink:href="#icon-rss"></use>
              </svg>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

