

<section id="about" class="col-md-12 lead">

    <div class="col-lg-5 col-lg-offset-1">

        <p>
            Hello there, I'm Lanre Adelowo, a 20 year old Software Developer born and
            bred in Lagos, Nigeria. I started programming November 2014 and have been hooked since
            then. I also am a final year student (B.Sc Microbiology) at the University of Ilorin.
        </p>


        <p>
            My technical overhaul of skills include PHP (native, Laravel, SlimPHP), Javascript, Typescript, SQL, Version Control (GIT), Linux (Fedora and Ubuntu).
            In addition to this, i keep to standards related to each technical
            chop detailed above.
        </p>
     
        <p>
            My frontend skills - HTML, CSS - are not that terrible either.
        </p>
        <p>

        </p>
    </div>


    <div class="col-lg-5">

        <p>
            With that said, when am not programming, you'd find me doing one of
            the following : Deeply engrossed in a huge library of music, listening to some podcast, reading
            books on just about anything (politics, computer
            science to history), playing Video Games (nope, not World
            of WarCraft ; PES '16 and BF4 are my favorites) or sleeping.
        </p>

        <p>
            {% assign latest = site.posts.first %}
            I also write a <a href="{{ site.baseurl }}/blog">blog </a> about web
            development and programming. My latest post is titled
            <a href="{{ site.baseurl }}{{ latest.url }}"> {{ latest.title }} </a>.
        </p>

    </div>


    <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#contact" class="button">
            Contact Me
        </a>
    </div>

</section>


<section id="contact" class="col-md-12">


    <div class="col-lg-5 col-lg-offset-1">

        <h2>
            Contact Me
        </h2>
        {% include form.html %}

    </div>


    <div class="col-lg-5">
        <h2>
            Find me a CyberSpace away
        </h2>

        {% include social.html %}

    </div>

</section>
