<div class="icons-home">
    <a aria-label="Send email" title="Send me an e-mail" href="mailto:{{site.email}}">
        <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
    </a>

    <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
        <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
    </a>


    <a aria-label="My Github" title="Where i spend a lot of my time" target="_blank" href="https://github.com/{{site.github_username}}">
        <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
    </a>

    <a aria-label="Use the RSS to get updated" title="Subscribe to my RSS" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
    </a>
</div>
