<ul class="list-unstyled">

    <li>
        <i class="fi-social-twitter"></i> Lanre Adelowo (<a
            href="https://www.twitter.com/{{ site.social.twitter }}">
        @adelowolanre
    </a>)
    </li>

    <li>
        <i class="fi-social-github"></i> Lanre Adelowo (<a
            href="https://www.github.com/{{ site.social.github }}">
        @adelowo
    </a>)
    </li>

    <li>
        <i class="fi-social-stack-overflow"></i> Adelowo Lanre (<a
            href="https://www.stackoverflow.com/users/{{ site.social.stackoverflow }}">
        @adelowo </a>)
    </li>

    <li>
        <i class="fi-social-facebook"></i><a href="https://www.facebook.com/{{ site.social.facebook }}"> Adelowo Lanre </a>
    </li>

    <li>
        <i class="fi-social-linkedin"></i><a href="https://ng.linkedin.com/in/{{ site.social.linkedin }}"> Adelowo Lanre</a>
    </li>

    <li>
        <i class="fi-mail"></i><a href="mailto:me@adelowolanre.com">
            me@adelowolanre.com
        </a>
    </li>

    <li>
        <i class="fi-telephone"></i>
        <strong>+2348137871320</strong>
    </li>
    <li>
        You can also find me on <a
            href="https://www.quora.com/profile/{{ site.social.quora }}">Quora</a>
        or read my <a href="{{ site.baseurl }}/blog"> Weblog</a>.
    </li>

</ul>
