$post-content-link-color: lighten(red, 10);

#blog {

  font-family: "VerelaRound", $font-family;

  .navbar-inverse {
    background-color: $portfolio-nav-color;
    border-color: $portfolio-opacity-color;

    .navbar-toggle .icon-bar {
      background-color: red;
    }
  }

  @media (min-width: $mediaquery-desktop-minimum) {

    .navbar-fixed-top {
      padding: 20px 0;
      -webkit-transition: padding .3s;
      -moz-transition: padding .3s;
      -o-transition: padding .3s;
      transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
      font-size: 32px;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .7s;
    }

    .navbar-fixed-top.shrink {
      padding: 10px 0;
    }

    .shrink > .navbar-brand {
      font-size: 20px;
    }
  }

  a {
    color: $portfolio-opacity-color;
  }

  a:hover {
    background-color: inherit;
    color: $text-color;
  }

  nav {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;

    .navbar-brand {
      font-size: 25px;
      text-transform: capitalize;
    }

    a {
      color: $portfolio-background-color;
    }
  }

  .container {

    p {
      font-size: 18px;
    }
  }

  #recent {
    margin-top: $portfolio-difference-between-sections + 55px;
  }

  .post-grid {
    /*
        border: 2px solid $portfolio-opacity-color;
    */

    h2 {
      text-transform: capitalize;
      font-weight: bold;
      border-bottom: 5px solid $portfolio-background-color;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .excerpt {
      a {
        color: inherit;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .footer {
      padding-bottom: 20px;
      .published {
        > i {
          font-size: 35px;
        }
      }
    }

    .read-more {
      float: right;
    }

    @media (max-width: $mediaquery-landscape-phone-maximum) {
      .read-more {
        float: none;
      }

      .footer {
        margin-top: $portfolio-difference-between-sections;
      }
    }
  }

  #content {
    @extend #recent;

    > h3 {
      text-transform: uppercase;
      font-weight: bold;
    }

    a {
      color: $post-content-link-color;
      background-color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .fixed {
    position: fixed;
    top: 65px;
    right: 0;
  }

  @media (max-width: $mediaquery-desktop-maximum) {
    .fixed {
      position: initial;
    }

    .fixed > .well {
      margin-bottom: 60px;
      padding: 12px;
    }
  }

  #social-button {

    > a {
      display: inline-block;
      padding: 8px 20px;
      font-size: 14px;
      background-color: white;
      color: $text-color;
      text-decoration: none;
      border: 0;
      border-radius: 20px;

      &:hover, &:focus {
        color: white;
        text-decoration: none;
      }
    }

    .twitter:hover {
      background-color: #55acee;
    }

    .facebook:hover {
      background-color: #3b5998;
    }

    .google-plus:hover {
      background-color: #dd4b39;
    }
  }
}

blockquote {
  border-left: 4px solid $post-content-link-color;
}

footer {
  margin-top: $portfolio-difference-between-sections - 25;
}

img, iframe {
  max-width: 100%;
}