html, body {
  font-size: 100%;
}

#portfolio {
  background-color: $portfolio-background-color;
}

@font-face {
  font-family: "VerelaRound";
  src: url("../css/fonts/VarelaRound-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pluto";
  src: url("../css/fonts/pluto-medium.woff2") format("woff2"),
  url("../css/fonts/pluto-medium.woff") format("woff");
  font-style: normal;
}

//todo : remove unused fonts once i'm through wit the design

@font-face {
  font-family: "BebasNeue";
  src: url('../css/fonts/BebasNeue-webfont.ttf') format("truetype");
}

@font-face {
  font-family: "Amble";
  src: url('../css/fonts/Amble-Regular-webfont.ttf') format("truetype");
}

@font-face {
  font-family: Amaranth;
  src: url('../css/fonts/Amaranth-Regular.otf');
}

@font-face {
  font-family: JosefinSans;
  src: url('../css/fonts/JosefinSans-Light.ttf') format("truetype");
}

@font-face {
  font-family: Montserrat;
  src: url('../css/fonts/Montserrat-UltraLight.otf');
}

a {
  color: $brand-color;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $background-color;
    text-decoration: none;
  }
}

img[alt="Adelowo Lanre"] {
  border: 4px solid $portfolio-background-color;
  border-radius: 29px;
  -webkit-box-shadow: $image-box-shadow;
  -moz-box-shadow: $image-box-shadow;
  -o-box-shadow: $image-box-shadow;
  box-shadow: $image-box-shadow;
}

#tagline {

  color: $portfolio-nav-color;
  background-color: inherit;
  text-transform: uppercase;

  h1 {
    margin-top: $portfolio-difference-between-sections + 18;
    font-size: 64px;
    font-family: "Pluto", $font-family;
  }

  h3 {
    font-family: "BebasNeue", $font-family;
    margin-right: 14px;
    opacity: 0.5;
  }

  @include media-query($mediaquery-tablet-maximum) {
    h1 {
      margin-top: $portfolio-difference-between-sections + 18;
      font-size: 50px;
    }
  }

  @media screen and (min-width: $mediaquery-desktop-maximum) {
    h3 {
      direction: rtl;
    }
  }
}

#homeNav {

  font-family: "Amaranth", $font-family;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  border-bottom: 4px solid $text-color;
  border-top: 4px solid $text-color;
  margin-top: 30px;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    display: inline-block;
    padding: 20px 0;
  }

  a {
    padding: 16px;
    background-color: inherit;
    color: $portfolio-nav-color;
    opacity: 0.4;
  }
}

#works {
  margin-top: $portfolio-difference-between-sections;
  font-family: "Montserrat", $font-family;

  p.lead {
    margin-top: $portfolio-difference-between-sections - 20;
  }

  a {
    color: $portfolio-background-color;
    background-color: inherit;
  }

  .portfolio-item {
    margin-bottom: $portfolio-difference-between-sections - 18;
  }

  .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
  }

  .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: $portfolio-opacity-color;
    color: inherit;

    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
  }

  .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
  }

  .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }

  .portfolio-item .portfolio-link .caption .caption-content img {
    margin-top: -12px;
    display: inline-block;
  }

  .portfolio-modal .modal-content {
    padding: 100px 0px;
    min-height: 120%; //for some reasons,min-height @100% isn't taking in 'long' screenshots. //todo : fix this
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
  }

  .portfolio-modal .modal-content img {
    margin-bottom: 30px;
  }

  .portfolio-modal .modal-content .item-details {
    margin: 30px 0;
  }

  .portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
  }

  .portfolio-modal .close-modal:hover {
    opacity: .3;
  }

  .portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
  }
}

.close-reveal-modal {
  color: #AAAAAA !important;
  background-color: inherit;
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  top: 0.625rem;
  right: 1.375rem;
}

.close-reveal-modal:hover {
  text-decoration: underline;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  cursor: pointer;
  font-family: "Montserrat", Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: $portfolio-background-color;
  border: 0 solid #007095;
  box-shadow: 0px 5px black;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;

  &:hover,
  &:focus,
  &:focus {
    background-color: inherit;
    color: inherit;
  }
}

#about {
  background-color: lightpink;
  padding-top: $portfolio-difference-between-sections;
  font-family: "Amaranth", $font-family;
}

#contact {
  background-color: #fff;
  padding-top: $portfolio-difference-between-sections;
  margin-top: -20px;
  font-family: Montserrat;

  h2 {
    font-weight: bold;
    margin-bottom: $portfolio-difference-between-sections - 30;
  }

  label {
    font-weight: normal;
  }

  textarea.form-control {
    border: 2px dotted $portfolio-opacity-color;
    border-radius: 0px;
    font-size: large;
    color: $text-color;

    &:hover,
    &:focus {
      border: none $portfolio-background-color;
      box-shadow: $hover-input-element;
    }
  }

  input.form-control {
    @extend textarea.form-control;
    height: 50px; //only Input elements should have a fixed height
  }

  .list-unstyled {
    padding-top: 12px;
    font-weight: normal;

    li > i {
      font-size: 40px;
      color: $text-color;
      vertical-align: middle;
      padding-right: 20px;
    }

    a {
      color: $portfolio-background-color;
      background-color: inherit;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

  }

  #foot {
    font-weight: bold;
    font-size: large;

    div {
      color: red;
      background-color: inherit;
      font-size: 30px;
      display: inline-block;

      &:hover {
        transform: scale(2, 2);
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.notification {
  color: $portfolio-background-color;
  background-color: inherit;
}