@import "./syntax.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.base-container {
  @apply mx-auto;
  @apply h-full;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply pt-12;
}

/* support for mobile client navigation */
#menu-toggle: checked + #menu {
  display: block;
}

.space-text * {
  letter-spacing: 0.2em;
}

#hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero-text > p {
  text-align: center;
}

/* Code from https://codepen.io/fenixmedia/pen/myZbXd */
.h-divider {
  margin: auto;
  margin-top: 80px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}

.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -33px;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
}

.h-divider .text i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 50px;
  font-style: normal;
  color: #999;
}

.h-divider .text2 {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -35px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
}

.h-divider img {
  position: absolute;
  margin: 4px;
  max-width: 60px;
  border-radius: 100%;
  border: 1px dashed #aaa;
}

#content {
  @apply mx-auto;
  @apply h-full;
  @apply mt-8;
}

#content .intro {
  font-size: 1.15em;
  @apply m-8;
  @apply mb-8;
}

#content h2 {
  font-size: calc(1em + 0.75vw);
}

#content h3 {
  font-size: calc(1em + 0.4vw);
}

#content h2,
#content h3,
#content h4 {
  @apply font-semibold;
  @apply mb-3;
  @apply mt-5;
  @apply relative;
}

#content h2:before,
#content h3:before,
#content h4:before {
  @apply absolute;
  @apply text-black;
  --text-opacity: 1;
  margin-left: -2ch;
  content: "#";
}

#content p + p,
#content ul {
  margin-top: 1rem;
}

#content ul {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  list-style: initial;
}

#content blockquote {
  @apply border-orange-800;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-left: 1rem;
  border-left-width: 4px;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.15em;
}

#content p > a {
  @apply text-orange-600;
}

.highlight {
  @apply mt-8;
  @apply mb-8;
}
