<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}

<body>
	<section class="section" itemscope itemtype="http://schema.org/BlogPosting">
		<div class="container is-fluid">
			<div class="columns">
				<div class="column">
					<div class="level">
						<div class="level-item">
							<div class="level-left">
								<time class="is-tomato has-text-weight-bold" itemprop="datePublished" datetime="{{ page.date }}">
									{{ page.date | date: "%B %d, %Y" }}
								</time>
							</div>
						</div>

						<div class="level-item">
							<h1 class="title" itemprop="name">{{ page.title }}</h1>
						</div>


						<div class="level-item">
							<div class="level-right">
								<div class="tags">
									{% for tag in page.tags %}
									<a class="is-tomato is-rounded tag has-text-weight-bold"
										href="/blog/#{{tag | slugify }}">{{ tag }}</a>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="columns">
				<div class="column is-2">
				</div>
				<div class="column is-8">
					<article role="article" class="content" itemprop="articleBody">
						{{ content }}
					</article>

					<div class="level">
						{% if page.previous.url %}
						<div class="level-item">
							<div class="level-left">
								<a class="link" href="{{page.previous.url}}">
									&laquo; {{page.previous.title}}
								</a>
							</div>
						</div>
						{% endif %}

						{% if page.next.url %}
						<div class="level-item">
							<div class="level-right">
								<a class="link" href="{{page.next.url}}">
									{{page.next.title}} &raquo;
								</a>
							</div>
						</div>
						{% endif %}
					</div>

					{% include share.html %}
					{% include comments.html %}
				</div>
				<div class="column is-2">
				</div>
			</div>
		</div>
	</section>
	{% include scripts.html %}
</body>

</html>
